@charset "utf-8";

@import url('font.css');

/* ========== reset ========== */
/* html{min-width:320px;} */
*{margin:0;padding:0;border:none;word-break:break-all;box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-overflow-scrolling:touch;-webkit-hyphens:auto;hyphens:auto;vertical-align:middle;font-size:inherit;line-height:inherit;font-family:inherit;} /* line-height 옮길지.. */
*:before, *:after{box-sizing:border-box;-webkit-box-sizing:border-box;}

/* body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0} */
html,body{height:100%;}
body{font-size:14px;line-height:1.25;font-family: "Spoqa Han Sans","Sans-serif";-webkit-text-size-adjust:none;color:#333333;word-break:keep-all;word-wrap:break-word;}
dl,ul,ol,menu,li {list-style:none;}
/* blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;} */
/* input,select,textarea,button {vertical-align:middle;font-size:100%;} */
/* button {border:0 none;background-color:transparent;cursor:pointer} */
table {width:100%;border-collapse:collapse;border-spacing:0}
table caption {visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
img,fieldset{border:0 none;}
img{vertical-align:middle;max-width:100%;max-height:100%;}
a{color:inherit;text-decoration:none;cursor:pointer;color:inherit;font-family:inherit;}
/* a:hover{text-decoration:none} */
i,em,address{font-style:normal;}
sup{display:inline-block;position:relative;top:-2px;line-height:0.5em;font-size:10px;}

/* em.em {color:#e02f00;font-weight:normal;}
em.blue {color:#1779cc;font-weight:bold;} */

label,button{cursor:pointer;}
i,em{font-style:normal;}
br,hr{border:none;line-height:inherit;}

/* ========== form ========== */
legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:-999em;width:0;height:0;font-size:0;line-height:0;text-align:left;}
textarea{height:auto;resize:none;color:#888;padding:0.33rem;border:solid 1px #c9c9c9;border-radius:3px;background-color:#fff;box-shadow:none;-webkit-appearance:none;}
textarea:focus{outline-width:0;}
input[type=text], input[type=password], input[type=email],input[type=number], input[type=phone], input[type=date], input[type=tel], textarea{-webkit-appearance:none;-webkit-box-shadow:none;box-shadow:none;border-radius:0;background:#ffffff;}
select{border-radius:0;background:#ffffff;}
button{border:none;background:none;outline:none;cursor:pointer;}

/* disabled */
select[disabled=disabled], textarea[disabled=disabled], input[disabled=disabled],input:disabled {color:#999;border-color:#c9c9c9;background-color:#ddd;}

/* input:checked[type='checkbox'] {-webkit-appearance:checkbox;}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none;} */

/* scrollbar */
/*body{-ms-overflow-style: -ms-autohiding-scrollbar;}*/
/* ::-webkit-scrollbar{-webkit-appearance:none}
::-webkit-scrollbar:vertical{width:2px;}
::-webkit-scrollbar:horizontal{height:2px;} 
::-webkit-scrollbar-thumb{
	background-color:rgba(0,0,0,.2);
	border-radius:10px;
}
::-webkit-scrollbar-track{
 background-color:rgba(255,255,255,.2);
	background-color:transparent;
	border-radius:10px;
}
 */
/* placeholder */
::-webkit-input-placeholder {font-size:15px;color:#cccccc;vertical-align:middle;}
:-webkit-input-placeholder {font-size:15px;color:#cccccc;vertical-align:middle;}
::-moz-placeholder {font-size:15px;color:#cccccc;vertical-align:middle;}
:-moz-placeholder {font-size:15px;color:#cccccc;vertical-align:middle;}

/* common */
.txt_hidden{position:absolute;top:-999999%;left:-999999%;overflow:hidden;width:1px !important;height:1px !important;font-size:0;line-height:0;text-align:left;text-indent:-9999%;} 

/* focus 
.focus {outline:1px solid #2d5ca2;}
*/


/* etc 
.clearfix:before, 
.clearfix:after  {display:table;content:"";clear:both;}
.clearfix:after {clear:both;}
.clearfix {*zoom:1;}
*/
